//Background
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);
//Text
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
//Text hover
$soft-red: hsl(14, 88%, 65%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

#content_main {
  background: linear-gradient(180deg, $soft-violet, $soft-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#content_card {
  background: white;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 10px 14px 0px #5943bc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content_icons {
  width: 50%;
  padding: 4em 2em 4em 0;
  background: url("../img/bg-pattern-desktop.svg") no-repeat -390px -200px / 180% !important;
  #Woman {
    position: relative;
    left: -65px;
    overflow: hidden;
    width: 100%;
  }
  #Box {
    position: absolute;
    width: 12%;
    top: 58%;
    left: 12%;
    transform: translate(-12%, -58%);
  }
  #woman_responsive {
    display: none;
  }
}

.content_information {
  width: 50%;
  border: none;
  h2 {
    color: $very-dark-desaturated-blue;
    padding-bottom: 0.5em;
    font-size: 2em;
  }
  .info {
    width: 80%;
    border-bottom: 1px solid $light-grayish-blue;
    font-size: 0.85em;
    .dropdown {
      display: block;
      align-items: center;
      cursor: pointer;
      .down {
        display: none;
        width: 100%;
        ~ .description_info {
          display: none;
        }
        &:checked {
          ~ .title_info {
            color: $very-dark-grayish-blue;
            .icon-arrow {
              transition: ease 0.5s;
              transform: rotate(180deg);
            }
          }
          ~ .description_info {
            display: block;
          }
        }
        &:hover {
          .title_info {
            color: $soft-red;
          }
        }
      }
      .title_info {
        cursor: pointer;
        color: $dark-grayish-blue;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 0 0.7em 0;
      }
      &:hover {
        .title_info {
          color: $soft-red;
        }
      }
      &:active {
        .title_info {
          color: $very-dark-grayish-blue;
        }
      }
    }
    .description_info {
      color: $dark-grayish-blue;
      font-weight: 400;
      font-size: 12px;
      padding: 0 0 0.6em 0;
      line-height: 20px;
    }
  }
}

/**********************************
        RESPONSIVE
**********************************/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #content_card {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 8em 0 2em 0;
  }
  .content_icons {
    width: 100%;
    padding: 0;
    margin-bottom: -3em;
    background: url("../img/bg-pattern-mobile.svg") no-repeat center 0px / 70% !important;
    #Woman {
      display: none;
    }
    #Box {
      display: none;
    }
    #woman_responsive {
      display: block;
      position: relative;
      width: 80%;
      top: 55%;
      left: 45%;
      transform: translate(-50%, -55%);
    }
  }

  .content_information {
    width: 100%;
    border: none;
    margin-bottom: 2em;
    h2 {
      text-align: center;
    }
    .info {
      width: 80%;
      margin: 0 auto;
      .dropdown {
        .title_info {
          padding: 1em 0 0.7em 0;
          font-size: 0.9em;
        }
      }
      .description_info {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  #content_card {
    width: 80%;
    margin: 3em 0 2em 0;
  }

  .content_icons {
    width: 50%;
    padding: 4em 2em 5em 0;
    background: url("../img/bg-pattern-desktop.svg") no-repeat -290px -130px / 180% !important;
    #Woman {
      display: none;
    }
    #Box {
      display: none;
    }
    #woman_responsive {
      display: block;
      position: relative;
      top: 50%;
      left: -25%;
    }
  }

  .content_information {
    width: 50%;
    .info {
      width: 90%;
      .dropdown {
        .title_info {
          padding: 1em 0 0.7em 0;
          font-size: 0.9em;
        }
      }
      .description_info {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #content_card {
    width: 70%;
    margin: 3em 0 2em 0;
  }

  .content_icons {
    width: 50%;
    padding: 4em 2em 5em 0;
    background: url("../img/bg-pattern-desktop.svg") no-repeat -300px -150px / 180% !important;
    #Woman {
      display: none;
    }
    #Box {
      display: none;
    }
    #woman_responsive {
      display: block;
      position: relative;
      top: 50%;
      left: -25%;
      width: 110%;
    }
  }

  .content_information {
    width: 50%;
    .info {
      width: 90%;
      .dropdown {
        .title_info {
          padding: 1em 0 0.7em 0;
          font-size: 0.9em;
        }
      }
      .description_info {
        font-size: 11px;
        line-height: 15px;
      }
    }
  }
}
